body {
    display: grid;
    place-content: center;
    text-align: center;
}
button {
    width: 200px;
    height: 50px;
    font-size: 30px;
    text-align: center
}



.page {
    text-align: center;
    width: 900px;
    height: 1500px; 
    background-color: rgb(217, 213, 213);
}


.pageTitle {
    font-size: 50px;
}



input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

#message {
    color: red;
    margin-top: 10px;
    text-align: center;
}

.selectBox {
    font-size: 20px
}

canvas {
    background-color: rgb(207, 207, 207);
}

#errorMess {
    color: red;
    text-align: center;
}

.section {
    width: 300px;
    height: 100px;
}

#standingsTable td {
  text-align: left;
  padding: 8px 12px;
}

#standingsTable tr {
  border-bottom: 1px solid #5d5d5d;
}

#standingsTable img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  vertical-align: middle;
}

#standingsPage {
    text-align: center;
    width: 900px;
    height: 2000px; 
    background-color: rgb(217, 213, 213);
}